body{
    background-color: gray;
}
h1{
    color: red;
}
h3{
    font-size: 15px;
}
button{
    color: rgb(0, 81, 255);
    background-color: gray;
    border-radius: 50px;
    font-size: 20px;
}
#colorset2b{
    color: red;
}
#colorset3b{
    color:chartreuse;
}
h3{
    color: green;
}